# Added by `npx auth`. Read more: https://cli.authjs.dev
AUTH_SECRET=
 
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

# localhost or any other url
AUTH_URL='http://localhost:3000'

# If your database is on your local computer, the url below or use MongoDB Atlas URL string
MONGODB_URI="mongodb://localhost:27017/yourDatabase?replicaSet=rs0"
MONGODB_URI=